.status-bg {
    width: 22.5%;
    height: 95%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.status-head {
    padding: 2px;
    background: chartreuse;
    width: 90%;
    height: 32px;
    margin: 10px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-title {
    font-weight: 400;
    text-transform: capitalize;
}

.status-pending {
    background-color: #E6FF50;
}

.status-coding {
    background-color: #88FF50;
}

.status-testing {
    background-color: #50FFCA;
}

.status-done {
    background-color: #3D96FF;
}

.btn-add-task {
    cursor: pointer;
}