:root {
    --primary: #0275D8;
    --secondary: #141414;
    --sun: #E6FF50;
    --apple:#88FF50;
    --aqua: #50FFCA;
    --glue: #3D96FF;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.container {
    width: 80vw;
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px 15px;
    background-color: var(--primary);
    color: #fff;
    border: none;
    cursor: pointer;
    transition-duration: 500ms;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: 1px solid #fff;
}