.task-card {
    background-color: #fff;
    border-top: 3px solid #E6FF50;
    margin: 5px 12px;
    padding: 2px;
    width: 90%;
}

.task-title {
    font-size: 16px;
    font-weight: 400;
    margin: 2px;
}

.task-owner {
    font-size: 14px;
    font-weight: 200;
    margin: 2px;
}

.task-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-date {
    font-size: 16px;
    font-weight: 400;
    margin: 5px 2px 2px;
}

.btn-task-open {
    cursor: pointer;
}